.container {
  margin: 0 auto;
  max-width: 1152px;
  position: relative;
  padding: 0 24px;

  @media (mid-width: 640px) {
    padding: 0 48px;
  }

  @media (mid-width: 960px) {
    padding: 0 64px;
  }

  & .items {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
  }
}
