.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: auto 90rem auto;
  grid-template-areas: '. content .';
  place-self: center center;

  & header {
    grid-area: content;
    background: url('./../../assets/headerbackground.jpg') no-repeat;
    background-size: cover;
    filter: drop-shadow(0.3125rem 0.3125rem 0.5rem rgb(36 36 36 / 0.6));
    margin: auto;
    padding: 9rem 8rem;
    width: 86.875rem;
    height: 41.25rem;
    border-radius: 2.5rem;

    & h1 {
      display: flex;
      flex-direction: column;

      & .top-line {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;

        & .design {
          background: rgb(254, 212, 32);
          display: grid;
          height: 5rem;
          box-shadow: 0 0 0.4313rem 0 rgb(254, 212, 32);

          & span {
            align-self: center;
            color: rgb(255, 255, 255);
            font-family: 'Stem-ExtraLight', sans-serif;
            font-size: 5.5rem;
            text-transform: uppercase;
            translate: 0 0.125rem;
            line-height: 1;
          }
        }

        .resources-container {
          translate: 0 10px;
          & .resources {
            font-size: 7.775rem;
            font-family: 'Blowbrush Regular', cursive;
            background: linear-gradient(
                to bottom,
                rgb(255, 58, 225) 8%,
                rgb(255, 37, 46) 43%,
                rgb(254, 138, 0) 55%
              )
              no-repeat;
            background-size: 100%;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            position: relative;
            place-self: center;

            &::after {
              z-index: -1;
              background: none;
              position: absolute;
              left: 0;
              top: 0;
              content: attr(data-text);
              text-shadow: -0.0719rem -0.2156rem 0 rgb(255, 58, 225),
                0.2156rem 0.2156rem 0 rgb(162, 255, 0);
            }
          }
        }

        & .for {
          font-size: 5.75rem;
          font-family: 'GiddyupStd', cursive;
          color: rgb(247, 54, 221);
          filter: drop-shadow(
            0.2875rem 0.1437rem 0.2156rem rgba(247, 54, 221, 0.502)
          );
        }
      }
    }

    & img {
      margin: 0.7rem 0;
      width: 100%;
    }

    & p {
      font-size: 1.75rem;
      text-align: center;
      color: rgb(36 36 36);
      padding: 1.1rem 1.6rem;
      margin: 0 auto;
      line-height: 1.25;
      letter-spacing: -0.75px;
    }
  }
}
